button {
    background-color: teal;
    border: none;
    color: whitesmoke;
    width: 250px;
    height: 50px;
    font-weight: bold;
    font-size: large;
    cursor: pointer;
    border-radius: 1.9%;
}

.dis {
    margin: 1%;
}